<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" 
	id="WebApp_ID" 
	version="4.0">

  <servlet> 
  	<servlet-name>InstructorModifications</servlet-name>
  	<servlet-class>com.WebTodoList.web.jdbc.InstructorModifications</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>InstructorModifications</servlet-name>
  	<url-pattern>/error</url-pattern>
  </servlet-mapping>
  
  
    <servlet> 
  	<servlet-name>LogOut</servlet-name>
  	<servlet-class>com.WebTodoList.web.jdbc.LogOut</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>LogOut</servlet-name>
  	<url-pattern>/LogIn</url-pattern>
  </servlet-mapping>
  
  
  <servlet> 
  	<servlet-name>Register</servlet-name>
  	<servlet-class>com.WebTodoList.web.jdbc.Register</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Register</servlet-name>
  	<url-pattern>/ToDoList</url-pattern>
  </servlet-mapping>
  
  
  
   <servlet> 
  	<servlet-name>WebControllerServlet</servlet-name>
  	<servlet-class>com.WebTodoList.web.jdbc.WebControllerServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>WebControllerServlet</servlet-name>
  	<url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>